@model IEnumerable<patyy.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CantidadProductos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CategoriasIdCategoriaNavigation.IdCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().InventarioIdInventarioNavigation.IdInventario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ProveedorIdProveedorNavigation.IdProveedor)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadProductos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriasIdCategoriaNavigation.IdCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventarioIdInventarioNavigation.IdInventario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProveedorIdProveedorNavigation.IdProveedor)
                </td>
               
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdProducto }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdProducto }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdProducto })
                </td>
            </tr>
        }
    </tbody>
</table>
